<div class="arrow arrow-prev"></div>
<div class="arrow arrow-next"></div>
{{#if backButton}}
    <a class="back-button" href="#">&lt; {{[helpers/i18n] "Back"}}</a>
{{/if}}
{{#each buttons}}
    {{#if isAsset}}
        {{#if bookmarkId}}
            <a class="ellipsis {{className}} {{@root.contentClass}}" id="{{currentSlug}}"
               href="#{{@root.contentUrlPrefix}}/{{contentId}}?bookmarkId={{bookmarkId}}" data-slug="{{slug}}"
               data-current-slug="{{currentSlug}}">{{content.metadatas.title}}</a>
        {{else}}
            <a class="ellipsis {{className}} {{@root.contentClass}}" id="{{currentSlug}}"
               href="#{{@root.contentUrlPrefix}}/{{contentId}}" data-slug="{{slug}}"
               data-current-slug="{{currentSlug}}">{{content.metadatas.title}}</a>
        {{/if}}
    {{else}}
        <a class="ellipsis {{className}} {{@root.contentClass}}" id="{{currentSlug}}" href="#" data-slug="{{slug}}"
           data-current-slug="{{currentSlug}}">{{content.metadatas.title}}</a>
    {{/if}}
{{/each}}