<div class="major nonactive widget-region">
</div>
<div class="minor">
    <div class="menu-tab" id="menu1-tab" style="display: block;">
        <div class="sub-header"></div>
        <div id="carousel" class="carousel widget-region"></div>
        <div class="sub-footer">
            <a class="leftarrow" href="#"> </a>
            <a class="rightarrow" href="#"> </a>
        </div>
    </div>
</div>