<div id="carouselTitle" class="carouselTitle"><p class="ellipsis"></p></div>
<div class="carouselOverlay"></div>
<div class="carouselPosters" style="display: block">
    {{#if backButton}}
        <a class="back-button" href="#">&lt; {{[helpers/i18n] "Back"}}</a>
    {{/if}}
    {{#each buttons}}
        <a class="poster {{@root.contentClass}}" id="{{currentSlug}}" href="#{{@root.contentUrlPrefix}}/{{currentSlug}}"
           title="{{content.metadatas.title}}" data-slug="{{slug}}" data-current-slug="{{currentSlug}}" data-index={{@index}}">
            <img alt="{{content.metadatas.title}}" src="{{content.thumbnail}}"/>
        </a>
    {{/each}}
</div>
