<div class="slides">
    {{#each menu}}
        <div class="slide" id="menu{{[helpers/plus1] @index}}-slide" style="display: none;"></div>
    {{/each}}
</div>

<div class="major nonactive">
    {{#each menu}}
        <a id="menu{{[helpers/plus1] @index}}" class="menu-group-button" href="#" data-slug="{{slug}}" data-current-slug="{{currentSlug}}">{{content.metadatas.title}}</a>
    {{/each}}
</div>
<div class="minor">
    {{#each menu}}
        <div class="menu-group" id="menu{{[helpers/plus1] @index}}-group" style="display: none;">
            {{#each children as |item key|}}
                <a id="{{currentSlug}}" href="#{{path}}" data-slug="{{slug}}" data-current-slug="{{currentSlug}}">{{content.metadatas.title}}</a>
            {{/each}}
        </div>
    {{/each}}
</div>
