<div class="major nonactive">
    {{#if backButton}}
        <a class="back-button" id="back" href="#">&lt; {{[helpers/i18n] "Back"}}</a>
    {{/if}}
    {{#each menu}}
        {{#if isFolder}}
            <a id="menu{{[helpers/plus1] @index}}" class="menu-tab-button menu-tab-button-folder" href="#{{path}}"
               data-slug="{{slug}}" data-current-slug="{{currentSlug}}">{{content.metadatas.title}}</a>
        {{else if isAction}}
            <a id="menu{{[helpers/plus1] @index}}" class="menu-tab-button menu-tab-button-folder" href="#{{path}}"
               data-slug="{{slug}}" data-current-slug="{{currentSlug}}">{{content.metadatas.title}}</a>
        {{else}}
            <a id="menu{{[helpers/plus1] @index}}" class="menu-tab-button" href="#" data-slug="{{slug}}"
               data-current-slug="{{currentSlug}}">{{content.metadatas.title}}</a>
        {{/if}}
    {{/each}}
</div>
<div class="minor">
    <div class="arrow-button sub-page-prev" style="display: none;">
        <div class="arrow-left"></div>
    </div>
    <div class="arrow-button sub-page-next" style="display: none;">
        <div class="arrow-right"></div>
    </div>
    <div class="menu-tab" id="back-tab" style="display: none;">
        <div class="sub-header">{{{parent.metadatas.htmlHeader}}}</div>
        <div class="sub-content {{{parent.metadatas.htmlContentClass}}}">
            {{#if parent.metadatas.htmlContent}}
                {{{parent.metadatas.htmlContent}}}
            {{else}}
                <div class="sub-page">
                    <div class="sub-text1">{{{parent.metadatas.htmlText1}}}</div>
                    <div class="sub-text2">{{{parent.metadatas.htmlText2}}}</div>
                    <div class="sub-image1">{{{parent.metadatas.htmlImage1}}}</div>
                    <div class="sub-image2">{{{parent.metadatas.htmlImage2}}}</div>
                </div>
            {{/if}}
        </div>
        <div class="sub-footer">{{{parent.metadatas.htmlFooter}}}</div>
    </div>
    {{#each menu}}
        <div class="menu-tab" id="menu{{[helpers/plus1] @index}}-tab" style="display: none;">
            <div class="sub-header">{{{content.metadatas.htmlHeader}}}</div>
            <div class="sub-content {{{content.metadatas.htmlContentClass}}}">
                {{#if content.metadatas.htmlContent}}
                    {{{content.metadatas.htmlContent}}}
                {{else}}
                    <div class="sub-page">
                        <div class="sub-text1">{{{content.metadatas.htmlText1}}}</div>
                        <div class="sub-text2">{{{content.metadatas.htmlText2}}}</div>
                        <div class="sub-image1">{{{content.metadatas.htmlImage1}}}</div>
                        <div class="sub-image2">{{{content.metadatas.htmlImage2}}}</div>
                    </div>
                {{/if}}
            </div>
            <div class="sub-footer">{{{content.metadatas.htmlFooter}}}</div>
        </div>
    {{/each}}
</div>