/**
 * Generic CSS screen for education titles.  Used on screens like edlibrary, myprogram...etc.
 */
.edtitles .background {
    width: 1280px;
    height: 720px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: url(../images/bk_default2.jpg) top left no-repeat;
    z-index: 1;
}
.edtitles .page-title {
    left: 66px;
    top: 104px;
    width: 544px;
    height: 66px;
    z-index: 1;
    text-align: center;
    letter-spacing: 1px;
    color: #FCFCFC;
    line-height: 72px;
    /*background: url('../images/menubar_highlight.png') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;*/
    background-size: cover;
    background-color: #217C32;
    border-top-right-radius: 120px 20px;
    border-top-left-radius: 120px 20px;
    font-weight: bold;
}

.edtitles #header {
    width: 100%;
    height: 121px;
    position: absolute;
    background: url(../images/bk_secondary_gradient.png) top left no-repeat;
}

.edtitles #header #heading1 {
    height: 100px;
    top: 75px;
    left: 436px;
    position: absolute;
    display: inline-block;
    float: left;
}

.edtitles #header #heading1 p {
    color: #45466D;
}

.edtitles #header #heading2 {
    width: 620px;
    height: 56px;
    top: 53px;
    left: 654px;
    position: absolute;
    float: left;
    z-index: 1;
}

.edtitles #header #heading2 p {
    color: #323334;
    text-align: left;
    font-size: 28px;
    padding-top: 0px;
    font-weight: bold;
    text-shadow: 0 0 0;
}
.edtitles div.menufooter {
    width: 260px;
    height: 40px;
    top: 665px;
    left: 140px;
    position: absolute;
    float: left;
    z-index: 2;
}
.edtitles div.menufooter p {
    /*color: #E3CB90;*/
    color: #283F4B;
    text-shadow: 0 0;
}
.edtitles div.menufooter-img {
    width: 50px;
    height: 34px;
    background: url(../images/btn_menu.png) top left no-repeat;
    top: 660px;
    left: 80px;
    position: absolute;
    display: inline-block;
    float: left;
    z-index: 2;
}

.edtitles #content {
    width: 100%;
    height: 599px;
    top: 122px;
    position: absolute;
    left: 0px;
    background: url(../images/bk_default2.jpg) top left no-repeat;

}

.edtitles #menu {
    width: 100%;
    height: 100%;
}

.edtitles #menu .content-button-group {
    width: 100%;
    height: 100%;
}

.edtitles ::-webkit-scrollbar {
    display: none;
}

.edtitles #menu .major {
    position: absolute;
    width: 544px;
    height: 472px;
    left: 66px;
    top: 36px;
    padding: 20px 0 0 0;
    box-shadow: 2px 2px 6px 0px #0C1E32;
    background-color: rgba(53,71,78,.80);
    /*border-bottom-right-radius: 20px 20px;
    border-bottom-left-radius: 20px 20px;*/
    -webkit-box-shadow: 2px 2px 6px 0px #0C1E32;

}

.edtitles #menu .major a {
    position: relative;
    display: block;
    height: 45px;
    margin-top: 10px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-right: 5px;
    padding-left: 15px;
    padding-bottom: 5px;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: .5px;
    color: #D2E5F4;
    /*border-radius: 8px;
    background-color: rgba(86,162,214,.90);*/
}
.edtitles #menu .major a.back-button {
    /*  position: absolute;
    width: 292px;*/
    font-size: 26px;
    top: 0px;
    text-align: left;
    margin-bottom: 10px;
    color: #E3CB90;
    /*background-color: rgba(48,138,200,0.70);
    border-radius: 8px;*/

}
.edtitles #menu .major a.selected {
    background: #217c32;
    color: #FCFCFC;
    -webkit-box-shadow: 3px 3px 5px #020202;
    box-shadow: 3px 3px 5px #020202;
    /*border-radius: 8px;*/
}

.edtitles #menu .minor {
    position: absolute;
    width: 580px;
    height: 472px;
    left: 660px;
    top: 36px;
    padding: 20px 0 0 0;
}

.edtitles #menu .minor a {
    position: relative;
    display: block;
    height: 45px;
    margin-top: 10px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-right: 5px;
    padding-left: 15px;
    padding-bottom: 5px;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: .5px;
    color: #FFFFFF;
    /*border-radius: 8px;
    background-color: rgba(86,162,214,.90);*/
}

.edtitles #menu .minor a.active {
    background-color: #86c3e2;
    color: #344552;
    text-shadow: none;
}

.edtitles #menu .minor .arrow-button {
    display: block;
    position: absolute;
    width: 60px;
    height: 60px;
    top: 381px;
    border-radius: 30px;
    margin: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.2);
}

.edtitles #menu .minor .arrow-button.sub-page-prev {
    left: -19px;
}

.edtitles #menu .minor .arrow-button.sub-page-next {
    right: 30px;
}

.edtitles #menu .minor .arrow-button:hover {
    opacity: 1;
    cursor: pointer;
}

.edtitles #menu .minor .arrow-left {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 -15px;
}

.edtitles #menu .minor .arrow-right {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 -5px;
}


.edtitles #menu .minor .back-tab {
    position: absolute;
    display: none;
}

.edtitles #menu .minor .back-tab img {
    width: 100%;
    height: 100%;
    margin: 40px 0px 0px 25px;
}

.edtitles #menu .minor .menu-tab {
    position: absolute;
    display: none;
    width: 610px;
}

.edtitles #menu .minor .sub-page {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
}

.edtitles #menu .minor .sub-header {
    margin-top: 0px;
    height: 30px;
    color: rgba(189,239,254,1.00);
    /*color: #FFFF92;*/
}

.edtitles #menu .minor .sub-footer {
    position: relative;
    height: 50px;
    color: #C0DDA3;
    text-align: center;
    top: -60px;
    left: -20px;
    text-shadow: 2px 2px 6px #000000;

}

.edtitles #menu .minor .sub-content {
    margin-top: 2px;
    height: 420px;
    overflow: hidden;
    position: relative;
}

.edtitles #menu .minor .sub-content p {
    margin-bottom: 2px;
    line-height: 50px;
    padding-top: 26px;
    padding-bottom: 0px;
    padding-right: 30px;
}

.edtitles #menu .minor .sub-content .sub-image1 img
,.edtitles #menu .minor .sub-content .sub-image2 img {
    width: 100%;
    height: 100%;
}

.edtitles #menu .major .arrow-prev {
    position: absolute;
    display: block;
    left: 252px;
    top: 25px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 20px 10px 20px;
    border-color: transparent transparent #D2E5F4 transparent;
}

.edtitles #menu .major .arrow-next {
    position: absolute;
    display: block;
    left: 252px;
    bottom: 0;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 10px 20px 0 20px;
    border-color: #D2E5F4 transparent transparent transparent;
}