.movielibrary .background {
    width: 1280px;
    height: 720px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: url(../images/bk_default2.jpg) top left no-repeat;
    z-index: 1;
}

.movielibrary ::-webkit-scrollbar {
    display: none;
}

.movielibrary .page-title {
    left: 66px;
    top: 104px;
    width: 344px;
    height: 66px;
    z-index: 1;
    text-align: center;
    letter-spacing: 1px;
    color: #FCFCFC;
    line-height: 72px;
    /*background: url('../images/menubar_highlight.png') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;*/
    background-size: cover;
    background-color: #217C32;
    border-top-right-radius: 120px 20px;
    border-top-left-radius: 120px 20px;
    font-weight: bold;
    box-shadow: 3px 0px 6px 0px rgba(3,3,3, .3);
    text-shadow: 2px 2px 6px rgba(3,3,3, .8);
}

.movielibrary #header {
    width: 100%;
    height: 121px;
    position: absolute;
    background: url(../images/bk_secondary_gradient.png) top left no-repeat;
}

.movielibrary #header #heading1 {
    height: 100px;
    top: 75px;
    left: 436px;
    position: absolute;
    display: inline-block;
    float: left;
}

.movielibrary #header #heading1 p {
    color: #45466D;
}

.movielibrary #header #heading2 {
    width: 803px;
    height: 56px;
    top: 53px;
    left: 454px;
    position: absolute;
    float: left;
    z-index: 1;
}

.movielibrary #header #heading2 p {
    color: #323334;
    text-align: left;
    font-size: 28px;
    padding-top: 0px;
    font-weight: 600;
    text-shadow: 0 0 0;
}
.movielibrary div.menufooter {
    width: 260px;
    height: 40px;
    top: 665px;
    left: 140px;
    position: absolute;
    float: left;
    z-index: 2;
}
.movielibrary div.menufooter p {
    /*color: #E3CB90;*/
    color: #283F4B;
    text-shadow: 0 0;
}
.movielibrary div.menufooter-img {
    width: 50px;
    height: 34px;
    background: url(../images/btn_menu.png) top left no-repeat;
    top: 660px;
    left: 80px;
    position: absolute;
    display: inline-block;
    float: left;
    z-index: 2;
}

.movielibrary #content {
    width: 100%;
    height: 599px;
    top: 122px;
    position: absolute;
    left: 0px;
    background: url(../images/bk_default2.jpg) top left no-repeat;
}

.movielibrary #menu {
    width: 100%;
    height: 100%;
}

.movielibrary #menu .major {
    position: absolute;
    width: 344px;
    height: 492px;
    left: 66px;
    top: 36px;
    padding: 20px 0 0 0;
    box-shadow: 2px 2px 6px 0px #0C1E32;
    background-color: rgba(53,71,78,.80);
    /*border-bottom-right-radius: 20px 20px;
    border-bottom-left-radius: 20px 20px;*/
    -webkit-box-shadow: 2px 2px 6px 0px #0C1E32;
}

.movielibrary #menu .major a {
    position: relative;
    display: block;
    height: 45px;
    margin-top: 10px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-right: 5px;
    padding-left: 15px;
    padding-bottom: 5px;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: .5px;
    color: #D2E5F4;
    /*border-radius: 8px;
    background-color: rgba(86,162,214,.90);*/
}

.movielibrary #menu .major a.back-button {
    /*  position: absolute;
    width: 292px;*/
    font-size: 26px;
    top: 0px;
    text-align: left;
    margin-bottom: 10px;
    color: #E3CB90;
    /*background-color: rgba(48,138,200,0.70);
    border-radius: 8px;*/
}

.movielibrary #menu .major a.selected {
    background: #217c32;
    color: #FCFCFC;
    -webkit-box-shadow: 3px 3px 5px #020202;
    box-shadow: 3px 3px 5px #020202;
    /*border-radius: 8px;*/
}

.movielibrary #menu .minor {
    position: absolute;
    width: 840px;
    height: 588px;
    top: 0px;
    left: 450px;
}

.movielibrary #menu .minor .arrow-button {
    display: block;
    position: absolute;
    width: 60px;
    height: 60px;
    top: 500px;
    border-radius: 30px;
    margin: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.2);
}

.movielibrary #menu .minor .arrow-button.sub-page-prev {
    left: -20px;
}

.movielibrary #menu .minor .arrow-button.sub-page-next {
    right: 30px;
}

.movielibrary #menu .minor .arrow-button:hover {
    opacity: 1;
    cursor: pointer;
}

.movielibrary #menu .minor .arrow-left {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 -15px;
}

.movielibrary #menu .minor .arrow-right {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 -5px;
}

.movielibrary #menu .minor .menu-tab {
    position: absolute;
    display: none;
    width: 800px;
}

.movielibrary #menu .minor .sub-page {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
}

.movielibrary #menu .minor .sub-header {
    margin-top: 20px;
    height: 50px;
    color: #FFFF92;
}

.movielibrary #menu .minor .sub-footer {
    position: relative;
    height: 50px;
    color: #C0DDA3;
    text-align: center;
    top: 0px;
    left: -20px;
    text-shadow: 2px 2px 6px #000000;
}

.movielibrary #menu .minor .sub-content {
    margin-top: -20px;
    height: 470px;
    overflow: hidden;
    position: relative;
}

.movielibrary #menu .minor .sub-content p {
    margin-bottom: 15px;
    line-height: 28pt;
}

.movielibrary #menu .minor .sub-content .sub-image1 img
,.movielibrary #menu .minor .sub-content .sub-image2 img {
    width: 100%;
    height: 100%;

}

/* Layout 1, text only */
.movielibrary #menu .minor .sub-content.layout1 {

}

.movielibrary #menu .minor .sub-content.layout1 .sub-text1{
    display: inline-block;
    width: 100%;
    padding-top: 40px;
}


.movielibrary a.rightarrow	{
    height: 50px;
    width: 50px;
    margin: 402px 0px 0px 340px;
    position: absolute;
    background: url('../images/arrow_right-ltblue.png') top left no-repeat;
    background-size: 50px 50px;
}

.movielibrary a.leftarrow	{
    height: 50px;
    width: 50px;
    margin: 402px 0px 0px -400px;
    position: absolute;
    background: url('../images/arrow_left-ltblue.png') top left no-repeat;
    background-size: 50px 50px;
}


/* carousel */



.movielibrary .carousel {

    height: 467px;
    width: 855px;
    margin-left: -35px;
    margin-top: -40px;
    position: absolute;
    display: inline-block;
    overflow: hidden;
}

.movielibrary .carousel .content-poster-group {
    width: 100%;
    height: 100%;
    position: relative;
}

.movielibrary .carouselTitle {
    background-color: #E1A128; /*217C32*/
    height: 65px;
    width: 855px;
    position: absolute;
    z-index: 500;
    display: block;
}

.movielibrary .carouselTitle p {
    width: 100%;
    margin: 10px 0px 0px 0px;
    font-weight: bold;
    font-size: 36px;
    color: white;
    text-align: center;
}

.movielibrary .carouselOverlay {
    border: 25px solid #E1A128;
    height: 345px;
    width: 245px;
    margin: 0px 0px 0px 30px;
    display: none;
    position: absolute;
    z-index: 500;
}

.movielibrary .carouselPosters {
    height: 380px;
    width: 855px;
    margin: 45px 0px 0px 0px;
    padding: 0;
    position: absolute;
    z-index: 495;
}

.movielibrary .carouselPosters a {
    display: block;
    float: left;
    width: 285px;
    height: 380px;
    padding: 0;
    margin: 0;
    background: transparent;
}

.movielibrary .carouselPosters img {
    width: 33%;
    height: 1px;
    width: 1px;
    margin: 75px 0px 0px 0px;
    padding: 0px;
    float: left;
    position: relative;
    display: none;
    padding: 25px, 25px, 25px, 25px;

}

.movielibrary .carouselPosters a img {
    background: url(../images/mov_poster_BK1.png) top center no-repeat;
    height: 316px;
    width: 255px;
    margin: 35px 15px 15px 15px;
    display: block;
    padding: 15px 15px 1px 15px;
}

.movielibrary .carouselPosters a.active img {
    background: #E1A128; /*217C32*/
    height: 380px;
    width: 285px;
    margin: 0px 0px 0px 0px;
    display: block;
    padding: 50px 30px 30px 30px;
    border-radius: 0 0 8px 8px / 0 0 8px 8px;
}

.movielibrary .carouselMessage {
    height: 40px;
    width: 800px;
    margin: 420px 0px 0px 0px;
    display: block;
}

.movielibrary .carouselMessage p {
    width: 100%;
    margin: 0px auto 0px auto;
    font-weight: normal;
    font-size: 30px;
    color: white;
    text-align: center;
}
