.primary {
}

.primary #header {
    width: 100%;
    height: 216px;
    position: absolute;
    /*background: url(../images/bk_primary_gradient.png) top left no-repeat;*/
}

.primary #header #patient {
    width: 453px;
    height: 58px;
    top: 34px;
    left: 746px;
    position: absolute;
    display: inline-block;
    float: left;
}

.primary #header #patient p {
    line-height: 28px;
    text-align: right;
    color: #FFFFFF;
    font-weight: 600;
    text-shadow: 2px 2px 2px #424242;
}

.primary #header #date {
    width: 377px;
    height: 28px;
    top: 98px;
    left: 824px;
    position: absolute;
    display: inline-block;
    float: left;
}

.primary #header #date p {
    line-height: 28px;
    text-align: right;
    color: #FFFFFF;
    font-size: 20px;
    text-shadow: 2px 2px 2px #424242;
}

.primary #header #slideshow {
    position: absolute;
    width: 330px;
    height: 186px;
    display: block;
    float: left;
    left: 880px;
    top: 30px;
}

.primary #content {
    width: 100%;
    height: 500px;
    margin-top: 220px;
}

.primary #menu {
    width: 100%;
    height: 100%;
}

.primary #menu .slides {
    position: absolute;
    top: 228px;
    left: 66px;
    width: 1148px;
    height: 491px;
}

.primary #menu .slides .slide {
    width: 1148px;
    height: 600px;
    /*display: none;*/
    /*webkit-animation: fadein 1s;
    animation: fadein 1s;*/
}

/*@-webkit-keyframes fadein {
    from { opacity: .5; }
    to   { opacity: 1; }
}*/

.primary #menu .slides #menu1-slide {
    background: url('../images/img_main_visit.jpg') top left no-repeat;

}

.primary #menu .slides #menu2-slide {
    background: url('../images/img_main_dine.jpg') top left no-repeat;
}

.primary #menu .slides #menu3-slide {
    background: url('../images/img_main_myhealth.jpg') top left no-repeat;
}

.primary #menu .slides #menu4-slide {
    background: url('../images/img_main_entertainment.jpg') top left no-repeat;
}

.primary #menu .slides #menu5-slide {
    background: url('../images/img_main_spirit.jpg') top left no-repeat;
}

.primary #menu .major {
    position: absolute;
    width: 100%;
    height: 69px;
    padding: 0;
    left: 7px;
    top: 164px;
}

.primary #menu .major a {
    position: absolute;
    height: 100px;
    margin: 0;
    padding-top: 30px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0px;
    text-align: center;
    font-size: 28px;
    color: rgba(255, 255, 255, 1.00);
    top: -11px;
    font-weight: bold;
    letter-spacing: 1px;
}

.primary #menu .major a.selected {
    font-size: 34px;
    /*background-repeat: no-repeat;
    background-position: center top no-repeat;*/
    background-color: #217C32;
    /*background-image: url('../images/menubar_highlight.png');*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 78px;
    margin-top: -5px;
    padding-top: 30px;
    color: rgba(244, 244, 245, 1.00);
    border-top-right-radius: 100px 12px;
    border-top-left-radius: 100px 12px;
    box-shadow: 3px 0px 6px 0px rgba(3, 3, 3, .3);
    text-shadow: 2px 2px 6px rgba(3, 3, 3, .8);
}

.primary #menu .major a#menu1 {
    left: 60px;
    width: 212px;
}

.primary #menu .major a#menu2 {
    left: 226px;
    width: 212px;
}

.primary #menu .major a#menu3 {
    left: 422px;
    width: 260px;
}

.primary #menu .major a#menu4 {
    left: 672px;
    width: 282px;
}

.primary #menu .major a#menu5 {
    left: 926px;
    width: 285px;
}

.primary #menu .minor {
    position: absolute;
    width: 100%;
    height: 493px;
    top: 226px;

}

.primary #menu .minor .menu-group {
    position: absolute;
    border: 6px solid #217C32;
    background-color: rgba(22, 25, 27, 0.80);
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    display: none;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.primary #menu .minor #menu1-group {
    left: 66px;
    width: 310px;
}

.primary #menu .minor #menu2-group {
    left: 196px;
    width: 272px;
}

.primary #menu .minor #menu3-group {
    left: 414px;
    width: 280px;
}

.primary #menu .minor #menu4-group {
    left: 654px;
    width: 320px;
}

.primary #menu .minor #menu5-group {
    left: 841px;
    width: 365px;
}

.primary #menu .minor .menu-group a {
    display: block;
    padding: 5px 15px;
    line-height: 28pt;
    font-weight: 600;
    font-size: 28px;
    letter-spacing: .5px;
}
