<div id="logo">
</div>
<div id="remote">
</div>
<div id="heading">Welcome to Cleveland Clinic
</div>
<div id="instruction">
    <p class="text1">Use your pillow speaker to move around the screen.
        <br><br>
        Press Select to Explore each area.</p>

</div>
<div id="aboutus">
    <div id="image">
    </div>
</div>
<div id="buttons" class="widget-region">
    <div class="widget button-group">
        <a class="btn btn-block active" href="#home" id="english">English</a>
        <a class="btn btn-block" href="#registration?lang=es" id="spanish">Español</a>
        <a class="btn btn-block" href="#" id="watchvideo">Watch our Welcome Video</a>
    </div>
</div>
