<div class="page-title">Free Movies</div>
<div id="header">
    <div class="logo-small topleft"></div>
    <div id="heading1">
        <p class="text-large"></p>
    </div>
    <div id="heading2">
        <p class="text-large"><br>Use Left / Right to scroll the movies</p>
    </div>
</div>
<div id="content">
    <div id="menu" class="widget-region">
    </div>
</div>
<div class="menufooter-img"></div>
<div class="menufooter">
    <p>to go HOME</p>
</div>