<div class="page-title">My Library</div>
<div id="header">
    <div class="logo-small topleft"></div>
    <div id="heading1">
        <p class="text-large"></p>
    </div>
    <div id="heading2">
        <p class="text-large"><br>Cleveland Clinic is honored to care for you</p>
    </div>
</div>
<div id="content">
    <div id="menu">
        <div id="bookmarks" class="major widget-region">
        </div>
        <div class="minor">
            <div class="menu-tab" style="display: block;">
                <div class="sub-header"></div>
                <div class="sub-content layout1">
                    <div class="sub-text1"><p>These videos have been specifically chosen for you by your clinical
                        team.<br><br>

                        Press Select to watch a video.
                    </p></div>
                    <div class="sub-image1"></div>
                    <div class="sub-image2"></div>
                </div>
                <div class="sub-footer"></div>
            </div>
        </div>
    </div>
</div>
<div class="menufooter-img"></div>
<div class="menufooter">
    <p>to go HOME</p>
</div>