<div id="header">
    <div class="logo"></div>
    <div id="patient">
        <p class="welcome text-small">{{i18n 'welcome'}}</p>
    </div>
    <div id="date">
    </div>

</div>
<div id="content">
    <div id="menu" class="widget-region">
    </div>
</div>
<div id="dialog" class="widget-region"></div>
